@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="http://use.typekit.net/ajf8ggy.js"></script>
        <script>
            try { Typekit.load(); } catch (e) {}
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
        <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    </head>
    <body>
        <div class="content pure-g-r">
            <div class="header pure-u-1">
                <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                    <a class="pure-menu-heading" href="">KeyServr</a>

                    @*<ul>*@
                    @*<li class="pure-menu-selected"><a href="#">Home</a></li>*@
                    @*<li><a href="#">Tour</a></li>*@
                    @*<li><a href="#">API</a></li>*@
                    @*<li><a href="#">Blog</a></li>*@
                    @*<li><a href="#">About</a></li>*@
                    @*</ul>*@
                </div>
            </div>

            @content

            <div class="footer pure-u-1">
                This is my footer. What did you expect?
            </div>
        </div>

    </body>
</html>